/* ==========================================================================
Base
========================================================================== */
/* Custom properties
========================================================================== */
:root {
    --cont-width: 1000px;
    --cont-padding: 2rem;
    --color-main: #111;
    --color-txt: #333;
    --color-bg: #fff;
    --color-bg--light-gray: #fafafa;
    --margin: 1rem;
    --padding: 1rem;
    --gap: 1rem;
}
/* Default settings
========================================================================== */
html,
body {
    color: var(--color-txt);
}
ul,
ol,
li {
    list-style: none;
}
img {
    max-width: 100%;
}
figure img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
blockquote {
    background: var(--color-bg--light-gray);
    padding: var(--padding);
}

/* ==========================================================================
Layout
========================================================================== */
/* Wrapper
========================================================================== */
.ly_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}
/* Header
========================================================================== */
.ly_header .ly_header_inner {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.ly_header .ly_header_inner > *:last-child {
    margin-left: auto;
}
/* Content
========================================================================== */
.ly_cont {
    width: var(--cont-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--cont-padding);
    padding-right: var(--cont-padding);
}
/* Footer
========================================================================== */
.ly_footer {
    margin-top: auto;
    text-align: center;
}
.ly_footer .ly_footer_inner {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

/* ==========================================================================
Element
========================================================================== */
/* el_****
========================================================================== */

/* ==========================================================================
Block
========================================================================== */
/* Logo
========================================================================== */
.bl_logo .bl_logo_link {
    color: var(--color-main);
}
/* Global nav
========================================================================== */
.bl_gnav_list {
    display: flex;
    gap: var(--gap);
}
/* Post Content
========================================================================== */
.bl_postCont > *:not(:first-child) {
    margin-top: var(--margin);
}

/* ==========================================================================
Utility
========================================================================== */
/* ut_****
========================================================================== */

/* ==========================================================================
Helper
========================================================================== */
/* hp_****
========================================================================== */
